extends layout
block content
  h1 login
  br

  form(method="POST", action="/admin/login")

         #form-group
            label email
            textarea.form-control(name="email", type="email" placeholder="Entrez votre email")

         #form-group
            label password
            textarea.form-control(name="password", type="password" placeholder="Entrez votre mot de passe")

            input.btn.btn-primary(type="submit", name="submit" value="Login")